<div class="container">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">F8 Fullstack</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="d-flex justify-content-end" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            <img src="https://www.pngkit.com/png/detail/115-1150677_default-avatar-comments-default-google-avatar-svg.png" alt="" class="user-avatar">
            Admin
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li class="nav-item">
              <a class="nav-link" href="/courses/create">Đăng khóa học</a>
            </li>
            <div class="dropdown-divider"></div>
            <li class="nav-item">
              <a class="nav-link" href="/me/stored/courses">Khóa học của tôi</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/me/stored/courses">Bài viết của tôi</a>
            </li>
            <div class="dropdown-divider"></div>
            <li class="nav-item">
              <a class="nav-link" href="#">Đăng xuất</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
</div>