<div class="mt-4">
    <form action="" method="POST" class ="mt-4">
        <div class="form-group">
            <label for="search-input">Từ khóa</label>
            <input type="text" name="q" class="form-control mt-4" id="search-input" placeholder="Nhập từ khóa..">
        </div>
        <div class="form-group">
            <label for="gender-input">Từ khóa</label>
            <select name="gender" class="form-control mt-4" id="gender-input">
                <option value="">-- Chọn giới tính --</option>
                <option value="male">Nam</option>
                <option value="female">Nữ</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary mt-4">Tìm kiếm</button>
    </form>
</div>